@{
    Layout = "~/Views/Shared/_LayoutLoged.cshtml";
    ViewBag.Title = "Home Page";
}
<div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>

    <md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
        <md-card md-theme="default" md-theme-watch="" class="_md md-default-theme">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Large</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img src="https://www.wakabanga.com/media/catalog/product/cache/thumbnail/100x100/beff4985b56e3afdbeabfc89641a4582/c/o/cojin-pizza1.jpg" />
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
                <button class="md-button md-ink-ripple md-default-theme" type="button" ng-transclude=""><span class="ng-scope">Action 1</span></button>
                <button class="md-button md-ink-ripple md-default-theme" type="button" ng-transclude=""><span class="ng-scope">Action 2</span></button>
            </md-card-actions>
        </md-card>
    </md-whiteframe>

    <md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
        <md-card md-theme="default" md-theme-watch="" class="_md md-default-theme">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Large</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img src="https://www.wakabanga.com/media/catalog/product/cache/thumbnail/100x100/beff4985b56e3afdbeabfc89641a4582/c/o/cojin-pizza1.jpg" />
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
                <button class="md-button md-ink-ripple md-default-theme" type="button" ng-transclude=""><span class="ng-scope">Action 1</span></button>
                <button class="md-button md-ink-ripple md-default-theme" type="button" ng-transclude=""><span class="ng-scope">Action 2</span></button>
            </md-card-actions>
        </md-card>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-3dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
        <md-card md-theme="default" md-theme-watch="" class="_md md-default-theme">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Large</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img src="https://www.wakabanga.com/media/catalog/product/cache/thumbnail/100x100/beff4985b56e3afdbeabfc89641a4582/c/o/cojin-pizza1.jpg" />
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
                <button class="md-button md-ink-ripple md-default-theme" type="button" ng-transclude=""><span class="ng-scope">Action 1</span></button>
                <button class="md-button md-ink-ripple md-default-theme" type="button" ng-transclude=""><span class="ng-scope">Action 2</span></button>
            </md-card-actions>
        </md-card>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-4dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
        <md-card md-theme="default" md-theme-watch="" class="_md md-default-theme">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Large</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img src="https://www.wakabanga.com/media/catalog/product/cache/thumbnail/100x100/beff4985b56e3afdbeabfc89641a4582/c/o/cojin-pizza1.jpg" />
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
                <button class="md-button md-ink-ripple md-default-theme" type="button" ng-transclude=""><span class="ng-scope">Action 1</span></button>
                <button class="md-button md-ink-ripple md-default-theme" type="button" ng-transclude=""><span class="ng-scope">Action 2</span></button>
            </md-card-actions>
        </md-card>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-5dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
        <md-card md-theme="default" md-theme-watch="" class="_md md-default-theme">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Large</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img src="https://www.wakabanga.com/media/catalog/product/cache/thumbnail/100x100/beff4985b56e3afdbeabfc89641a4582/c/o/cojin-pizza1.jpg" />
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
                <button class="md-button md-ink-ripple md-default-theme" type="button" ng-transclude=""><span class="ng-scope">Action 1</span></button>
                <button class="md-button md-ink-ripple md-default-theme" type="button" ng-transclude=""><span class="ng-scope">Action 2</span></button>
            </md-card-actions>
        </md-card>
    </md-whiteframe>
</div>